body {
  background-color: grey;
  font-family: Helvetica, Arial, sans-serif;
}

#about {
  background-color: peachpuff;
}

#proficiency {
  background-color: peachpuff;
}

.section {
  background-color: paleturquoise;
}
