body {
  background-color: grey;
  font-family: Helvetica, Arial, sans-serif;
}

#about {
  background-color: peachpuff;
}

#proficiency {
  background-color: peachpuff;
}

.section {
  background-color: paleturquoise;
  border: 2px solid black;
}

.section p {
  text-indent: 20px;
}

footer {
  text-align: end;
}

/* 
 * This is our main class for all anchor tags (links)
 * which are placed in the navigation.
 * Using a descendant selector:
 * https://www.w3schools.com/css/css_combinators.asp
 */
nav a {
  text-decoration: none;
  color: azure;
}

/* Applying some basic text shadow over my greeting */
#greeting {
  text-shadow: 3px 3px 4px azure;
  text-align: center;
  font-family: Baskerville, "Baskerville Old Face", Garamond, "Times New Roman",
    serif;
}

ul.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* The `link` pseudo-class applies styles to unvisited links. 
 * If you visit or have visited this link, then the `link` pseudo class
 * is not going to get triggered anymore unless you to clear your browser history.
 * - In our case we use the same styles for both visited and unvisited links.
 */
a:link, a:visited {
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/*
 * :active MUST come after :hover (if present) in the CSS definition in order to be effective!
 * More info at https://www.w3schools.com/cssref/sel_active.asp 
 */
a:hover, a:active {
  background-color: cadetblue;
  color: white;
}
